.sendForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 30px 15px;
  min-width: 30%;
  max-width: 50%;
  border-radius: 10px;
}

.input,
.select,
.btnSubmit {
  padding: 10px;
  margin-top: 5px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;
}
.input {
  width: 80%;
}
.select {
}
.label {
  color: rgba(128, 128, 128, 0.7);
}
.nameGroup {
  display: flex;
}
.btnSubmit {
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
}
.btnSubmit:hover {
  background-color: thistle;
  border: none;
  color: white;
}
